# This requirements.txt file only includes the packages not used in class, as per the instructions.
# Refer to requirements_full.txt for the full list of packages used in the project.
stable_baselines3~=2.3.0
gymnasium~=0.29.1
sb3_contrib~=2.3.0
torch~=2.2.2